body{
  /* text-align: center; */
}
#box {
  /* text-align: center; */
  padding-top: 15px;
  padding-left: 30px;
  width: 500px;
  height: 800px;
  background-color: #9FB4C7;
  margin: auto;
  color: black ;
}

