* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    border: 1px solid black;
  }
  ul {
    list-style: none;

  }
  nav ul > li {
    display: inline;
    padding: 10px;
  }
  nav {
    border: 1px solid black;
  }
  aside {
    float: left;
    border: 1px solid black;
    width: 20%;
  }
  aside ul>li {
    padding: 10px;
  }
  
  article {
    float: left;
    border: 1px solid black;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 450px; /* only for demonstration, should be removed */
  }

  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    border: 1px solid black;
    padding: 25px;
    text-align: center;
    color: white;
  }
  @media (max-width :650) {
    aside, article {
        width:100px;
        height: auto;
    }
  }
  a:link {
    color: brown;
    font-weight: bold;
    text-decoration: none;
    background-color: pink;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  a:visited {
    color: greenyellow;
  }
  a:hover {
    color: red;
  }