#Container {
    width: 1200px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin: top 11px;
    margin-bottom:21px;
}

#SideBar{
    margin:0;
    height:auto;
    background-color:#f3f3f3;
    padding: 50px;
    display: flex;
    
}

body {
    width:auto;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin: top auto;
    margin-bottom:auto;
  }

  #Menu {
    height:60px;
    background-color: #9b59b6;
}
#Menu Ul{
    margin:0;
    padding:0;
}
#Menu li{
    list-style-type:none;
    float:left;
    display:block;
    width:100px;
    height:60px;
    text-align:center;
    line-height:55px;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    justify-content: space-between;
}
#Menu li a{
    text-decoration:none;
    color:#dccfe7 ;
}

.search-box input[type=search]{
    margin-left: 300px;
    /* box-sizing: border-box; */
    border: 3px rgb(255, 255, 255) solid;
    background-color: #9b59b6;
}

#Footer{
    margin:0;
    height:auto;
    background-color:#9b59b6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.footerkiri {
    display: flex;
    margin-left: 10px; 
    /* height: auto; */
    align-items: center;
}
.footerkiri div:first-child{
    margin-right:20px;
    /* margin-left: 20px;  */
}